@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Agile";
    src: url("/fonts/Agile-Medium.woff2") ;
    font-weight: normal;
}

@font-face {
    font-family: "Agile";
    src: url("/fonts/Agile-Light.woff2");
    font-weight: 300;
}


body {
    font-family: "Agile", sans-serif;
    overflow: hidden;
}

/* Navbar toggle button */
#menu-toggle.toggled > #icon:before {
    top: 0px;
}
#menu-toggle.toggled > #icon:after {
    bottom: 0px;
}
#icon:before,
#icon:after {
    height: 0.2rem;
    left: 0px;
    position: absolute;
    transition: all 0.25s;
    width: 1.8rem;
}
#icon:before {
    top: -0.55rem;
}
#icon:after {
    bottom: -0.55rem;
}